/* Tiempos Headline */

/* @font-face {
  font-family: 'Tiempos Headline';
  font-weight: 400;
  font-style: normal;
  src: url('Tiempos Headline Test/tiempos-headline-test-regular.woff') format('woff');
} */

/* @font-face {
  font-family: 'Tiempos Headline';
  font-weight: 400;
  font-style: italic;
  src: url('Tiempos Headline Test/tiempos-headline-test-regular-italic.woff') format('woff');
} */

/* @font-face {
  font-family: 'Tiempos Headline';
  font-weight: 800;
  font-style: normal;
  src: url('Tiempos Headline Test/tiempos-headline-test-semibold.woff') format('woff');
} */

/* Tiempos Fine */

/* @font-face {
  font-family: 'Tiempos Fine';
  font-weight: 400;
  font-style: normal;
  src: url('Tiempos Fine Test/tiempos-fine-test-regular.woff') format('woff');
} */

/* @font-face {
  font-family: 'Tiempos Fine';
  font-weight: 400;
  font-style: italic;
  src: url('Tiempos Fine Test/tiempos-fine-test-regular-italic.woff') format('woff');
} */

/* @font-face {
  font-family: 'Tiempos Fine';
  font-weight: 800;
  font-style: normal;
  src: url('Tiempos Fine Test/tiempos-fine-test-semibold.woff') format('woff');
} */

/* @font-face {
  font-family: 'Tiempos Fine';
  font-weight: 800;
  font-style: italic;
  src: url('Tiempos Fine Test/tiempos-fine-test-semibold-italic.woff') format('woff');
} */

/* Tiempos Text */

@font-face {
  font-family: 'Tiempos Text';
  font-weight: 400;
  font-style: normal;
  src: url('Tiempos Text Test/tiempos-text-test-regular.woff') format('woff');
}

@font-face {
  font-family: 'Tiempos Text';
  font-weight: 400;
  font-style: italic;
  src: url('Tiempos Text Test/tiempos-text-test-regular-italic.woff') format('woff');
}

/* @font-face {
  font-family: 'Tiempos Text';
  font-weight: 500;
  font-style: normal;
  src: url('Tiempos Text Test/tiempos-text-test-semibold.woff') format('woff');
} */

/* @font-face {
  font-family: 'Tiempos Text';
  font-weight: 500;
  font-style: italic;
  src: url('Tiempos Text Test/tiempos-text-test-semibold-italic.woff') format('woff');
} */