// @import url('https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Lato:400,700,900&display=swap');
// @import url('/fonts/corsa-grotesk/corsa-grotesk.css');
@import url('../fonts/soehne-collection-test/sohne-collection-test.css');
@import url('../fonts/tiempos-collection-test/tiempos-collection-test.css');
// @import url('/fonts/bitter-ht/bitter-ht.css');
// @import url('/fonts/optician-sans/Optiker-K.css');
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.hx {
  font-family:
    /* "Optician Sans", */
    /* "Tiempos Headline", */
    'Soehne Breit',
    /* "Söhne Mono", */
    /* "Courier Prime Sans", */
    -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  ;
  margin: 0 0 1.45rem;
  padding: 0;
  color: inherit;
  // font-weight: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h1, .h1 {
  font-weight: 900;
}

// Increasing Weights
// h1, .h1 {
//   font-weight: 400;
// }
// h2, .h2 {
//   font-weight: 500;
// }
// h3, .h3 {
//   font-weight: 600;
// }
// h4, .h4 {
//   font-weight: 700;
// }
// h5, .h5 {
//   font-weight: 800;
// }
// h6, .h6 {
//   font-weight: 900;
// }

// Decreasing Weights
// h1, .h1 {
//   font-weight: 900;
// }
// h2, .h2 {
//   font-weight: 800;
// }
// h3, .h3 {
//   font-weight: 700;
// }
// h4, .h4 {
//   font-weight: 600;
// }
// h5, .h5 {
//   font-weight: 500;
// }
// h6, .h6 {
//   font-weight: 400;
// }

.h4.modal-title {
  margin-bottom: 0;
}
h1.hx.hx--modest, .h1.hx.hx--modest {
  font-size: 2.25rem;
  /* font-weight: 900; */
  /* font-weight: 400; */
}
h2.hx.hx--modest, .h2.hx.hx--modest {
  font-size: 1.62671rem;
  /* font-weight: 800; */
  /* font-weight: 500; */
}
h3.hx.hx--modest, .h3.hx.hx--modest {
  font-size: 1.38316rem;
  /* font-weight: 700; */
  /* font-weight: 600; */
}
h4.hx.hx--modest, .h4.hx.hx--modest {
  font-size: 1rem;
  /* font-weight: 600; */
  /* font-weight: 700; */
}
h5.hx.hx--modest, .h5.hx.hx--modest {
  font-size: 0.85028rem;
  /* font-weight: 500; */
  /* font-weight: 800; */
}
h6.hx.hx--modest, .h6.hx.hx--modest {
  font-size: 0.78405rem;
  /* font-weight: 400; */
  /* font-weight: 900; */
}
/* hgroup > h1, hgroup > h2, hgroup > h3 {
  font-family: "Courier Prime Code";
  font-family: "Courier Prime Sans", "Söhne Mono";
  font-weight: normal;
} */
hgroup > h4, hgroup > .h4, hgroup > h4.hx, hgroup > .h4.hx,
hgroup > h5, hgroup > .h5, hgroup > h5.hx, hgroup > .h5.hx,
hgroup > h6, hgroup > .h6, hgroup > h6.hx, hgroup > .h6.hx {
  font-family: inherit; /* "Courier Prime Sans"; */
}
body {
  // background-color: whitesmoke;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url('../images/subtle_dots_@2X.png') repeat; */
  /* font-family: "Bitter", Georgia, 'Times New Roman', Times, serif; */
  font-family:
    /* "Bitter ht" */
    "Tiempos Text",
    /* "Lato", */
    /* "Söhne Mono", */
    /* "Courier Prime Sans", */
    -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, "Helvetica Neue", sans-serif
  ;
  font-weight: 400;
  // color: hsla(0, 0%, 0%, 0.8);
  color: black;
  /* font-family: georgia, serif; */
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
footer p, footer .p {
  margin-bottom: 0;
}

article + article,
article + section,
section + article,
section + section {
  margin-top: 3rem;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  border-bottom: 1px solid transparent;
  position: relative;
}
a:active,
a:focus,
a:hover {
  color: #0056b3;
  outline-width: 0;
  text-decoration: none;
  // border-bottom: 1px solid #0056b3;
}
// Animating Link Underlines
// https://tobiasahlin.com/blog/css-trick-animating-link-underlines/
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #0056b3;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
a:hover:before,
a:focus:before,
a:active:before {
  visibility: visible;
  transform: scaleX(1);
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

label > [type="checkbox"] {
  margin-right: .3333rem;
  height: 14px;
  width: 14px;
}

/* label > [type="checkbox"]::after {
  content: "\00a0";
} */

/* label > [type="checkbox"],
label > [type="checkbox"] + span {
  display: inline-block;
  vertical-align: middle;
} */
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
.disabled {
  opacity: 0.5;
}
button,
select {
  text-transform: none;
}
[type="reset"]:not(.btn),
[type="submit"]:not(.btn),
button:not(.btn),
html [type="button"]:not(.btn) {
  /* -webkit-appearance: button; */
  border-radius: 3rem;
  padding: .5rem 1rem;
  background-color: white;
}

.cta {
  border-width: 1px;
  /* border-bottom-color: #eee; */
  border-style: solid;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  /* margin-bottom: 1.45rem; */
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
.dl-inline > dt {
  display: inline-block;
  margin-bottom: 0;
}
.dl-inline > dd {
  display: inline;
}
.dl-inline > dd:after {
  content: '\A';
  white-space: pre;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  /* margin-bottom: 1.45rem; */
  margin-bottom: 0;
}
p, .p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  max-width: 39rem;
}
.p {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form > p {
  margin-bottom: 0;
}

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
  margin-bottom: .5rem;
}

.pill-cap-left {
  margin: 0;
  border: 1px solid;
  padding: 0.5rem;
  vertical-align: middle;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  /* border-right: 0; */
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: .75rem;
}

.pill-middle {
  border: 1px solid black;
  /* padding: .5rem 0; */
  height: 2.5rem;
  /* width: unset; */
  width: 2rem;
  border-right: 0;
  border-left: 0;
}

.pill-cap-left + .pill-middle {
  padding-left: 0.65rem;
}

.pill-middle.pill-middle--value {
  width: 0;
}

.pill-cap-right {
  height: 2.5rem;
  /* border-right: 0; */
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: .75rem;
  border: 1px solid black;
  border-left: 0;
  padding: 0 0.75rem 0 0;
  margin-right: 0.5rem;
}

dd {
  margin-bottom: .25rem;
}

dd + dt {
  margin-top: .25rem;
}

dl.inline > dt {
  margin-right: .25rem;
}

dl.inline > dd + dt {
  margin-left: .25rem;
}

dl.inline > dt,
dl.inline > dd,
dt.inline,
dd.inline {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
}

dl.inline > dt,
dl.inline > dd,
dt.inline,
dd.inline {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

dl.inline > dd::after,
dd.inline::after {
	content: '\A';
	white-space: pre;
}

/* dl.inline > dt::after, */
dt.inline::after {
  content: '\a0';
}

.price {
  margin-bottom: 0;
  // font-weight: normal;
  // font-family: 'Courier Prime Sans', 'Courier New', Courier, monospace;
  font-size: 1.25rem;
}

th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p, li > .p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
/* abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
} */
/* acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
} */
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
